services:

  db:
    image: postgres:15
    environment:

      POSTGRES_DB: my_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: .
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: config.settings.prod
    depends_on:
      - db
    volumes:
      - media_data:/app/megano/media
    ports:
      - "8000:8000"

volumes:
  postgres_data:
  media_data:
